body{
    background: #f2f2f2;
}
.header{
    background: #fbfbfb;
    color: #353535;
    line-height: 30px;
    font-size: 12px;
    width:1200px;
    height:30px;
    margin:0 auto;
    position:relative;
    .header_left{
        width:130px;
        height:30px;
        position:absolute;
        left:0;
        z-index: 999999;
        ul{
            width:120px;
            height:30px;
            margin-left: 10px;
            background: url(/images/login_tcbg_down.gif) no-repeat 100px 14px;
            li{
                width:120px;
                height:30px;
                div{
                    display:none;
                    padding:5px 0 5px 0;
                    line-height:20px;
                    a{
                        color:#353535;
                        display:inline-block;
                        width:125px;
                        height:20px;
                    }
                }     
            }
        }      
    }
    .header_right{
        width:335px;
        height:30px;
        position:absolute;
        right:0;
        a{
            color: #353535;
            padding:0 6px;
        }
        a:hover{
            text-decoration:underline;
        }
    }
}
.main{
    border-top:1px solid #cecece;
    width:100%;
    height:3695px;
    .top{
        width:100%;
        height:596px;
        margin:0 auto;
        background: url(/images/bg_07.jpg) repeat-x;
        .top_1{
            width:1200px;
            height:112px;
            margin:0 auto;
            background: url(/images/bg_03.jpg) repeat-x;
            position:relative;
            .bwtime{
                position:absolute;
                top:0;
                right:80px;
                text-align:center;
                padding:38px 80px 30px 115px;
                .box{
                    width:70px;
                    color:#0b6dac;
                    font-size:24px;
                    text-align:center;
                }
            }
            .logo{
                float:left;
                padding:33px 0;
            }
            .search{
                width:513px;
                height:71px;
                float:left;background: orange;
                margin:33px 0px 10px 120px;
                padding:2px 0 2px 30px;
                background: url(/images/search_11.jpg) no-repeat;
                .txt{
                    width: 415px;
                    height: 27px;
                    border: none;
                    background: none;
                    line-height: 27px;
                    float: left;
                    color: #ccc;
                    margin: 1px 0 0 0;
                    display: inline;
                }
                .btn{
                    float: left;
                    height: 31px;
                    width: 68px;
                    background: none;
                    border: none;
                    padding:1px 6px;
                }
                p{
                    width:483px;
                    line-height: 40px;
                    text-indent: 10px;
                    color: #888;
                    height: 40px;
                    margin-top: 33px;
                    font-size: 12px;
                    color:#888;
                    a{
                        padding:0 2px;
                        color:#888;
                    }
                    .aaa{
                        color:#f00;
                    }
                }
            }
            .xtime{
                float: left;
                padding: 25px 0 0 15px;
            }
        }
        .top_2{
            width: 1200px;background: orange;
            margin: 0 auto;
            position: relative;
            z-index: 999;
            height: 36px;
            .weixin{
                    padding: 10px 0 0 0;
                    margin-left:198px;
                    height:104px;
                    position: absolute;
                    right: 0px;
                    top: -110px;
                    z-index: 99999999999999;
                .pic{
                    img{
                        cursor: pointer;
                    }
                }
                .weixin_1{
                    width: 145px;
                    height: 150px;
                    font-size: 12px;
                    text-align: center;
                    background: #ebebeb;
                    overflow: hidden;
                    color: #666;
                    padding: 10px 0;
                    position:absolute;
                    top:105px;
                    right:0;
                    display: none;
                    float: right;
                    p{
                        font-size:12px;
                        color:#666;
                        text-align:center;
                    }
                    img{
                        margin:5px 26px;
                    }
                }
                .weixin_2{
                    width: 125px;
                    height: 150px;
                    font-size: 12px;
                    text-align: center;
                    background: #ebebeb;
                    color: #666;
                    padding: 10px 0;
                    display: none;
                    float: right;
                    cursor: pointer;
                    position:absolute;
                    top:105px; 
                    right:150px;
                    p{
                        font-size:12px;
                        color:#666;
                        text-align:center;
                    }
                    img{
                        margin:5px 15px;
                    }
                }
            }
            .weixin:hover{
                .weixin_1{
                    display:block;
                }
                .weixin_2{
                    display:block;
                }
            }
            .nav{
                position: absolute;
                left: 0;
                top: 0;
                width: 204px;
                height: 479px;
                background: url(/images/BMCindex_14.jpg) no-repeat;
                z-index: 99999;
                h3{
                    height: 36px;
                    width: 204px;
                }
                .list{
                    width:204px;
                    position:relative;
                    height:444px;
                }
                div{
                    height: 37px;
                    line-height: 37px;
                    p{
                        font-size: 14px;
                        cursor: pointer;
                        width: 204px;
                        height: 35px;
                        position: relative;
                        z-index: 99999;
                        em{
                            font-style: normal;
                            span{
                                float: left;
                                display: inline;
                                margin: 5px 10px 0 20px;
                            }
                            a{
                                color:#5e666c;
                            }
                            a:hover{
                                text-decoration:underline;
                            }
                        } 
                    }
                    .last{
                        font-size:12px;
                        text-align:center;
                        a{
                            color:#5e666c;
                        }
                        a:hover{
                                text-decoration:underline;
                            }
                    } 
                    .item_list{
                        padding: 3px;display:none;
                        left: 202px;
                        top: -1px;
                        border: 1px solid #a5a3a3;
                        background-color: #fff;
                        position: absolute;
                        width: 775px;
                        height:446px;
                        z-index: 9999;
                        min-height: 400px;
                        .box{
                            width: 210px;
                            height:420px;
                            float: right;
                            margin: 0;
                            padding: 5px 15px;
                            border-left: 1px solid #eee;
                            color: #b00;
                            p{
                                width: 180px;
                                line-height: 30px;
                                padding: 5px 15px;
                                font-size: 12px;
                                a{
                                    color: #999;
                                    font-weight: normal;
                                    padding: 0 2px;
                                    width: 71px;
                                    float:left;
                                    display: block;
                                    line-height: 20px;
                                }
                                a:hover{
                                text-decoration:underline;
                                }
                                .last{
                                    text-align:right;
                                    text-decoration:none;
                                }
                            }
                            .box_a{
                                height:190px;
                            }
                            span{
                                width: 170px;
                                height: 60px;
                                overflow: hidden;
                                display: block;
                                border: 1px solid #7a7a7a;
                                margin: 10px 8px;
                            }
                        }                  
                    }
                }
                div:hover{
                    border:1px solid #a5a3a3;
                    border-right: none;
                }
                div:nth-child(1){
                    border-top:none;
                }
                div:nth-child(12){
                    border-bottom: none;
                }
            } 
            .top_menu{
                background: url(/images/menu_15.jpg) repeat-x;
                width: 1200px;
                padding-left: 204px;
                height: 36px;
                position: relative;
                ul{
                    float: left;
                    background: url(/images/menu_03.jpg) no-repeat;
                    width: 772px;
                    height: 36px;
                    margin-top:-2px;
                    li{

                        float:left;
                        height:36px;
                        a{
                            display:block;
                            width:100%;
                            height:100%;
                        }
                    }
                    li:hover{
                        background-image: url(/images/menu2_03.jpg);
                    }
                    .m1{
                        width:85px;
                        background-position:0 0;
                    }
                    .m2{
                        width:67px;
                        background-position:-86px 0;
                    }
                    .m3{
                        width:82px;
                        background-position:-152px 0;
                    }
                    .m4{
                        width:65px;
                        background-position:-233px 0;
                    }
                    .m5{
                        width:127px;
                        background-position:-298px 0;
                    }
                    .m6{
                        width:73px;
                        background-position:-425px 0;
                    }
                }
                p{
                    height: 36px;
                    width: 110px;
                    line-height: 36px;
                    font-weight: bold;
                    position: absolute;
                    right: 0;
                    background: url(/images/BMCindex_16.jpg) no-repeat;
                    a{
                        color: #b8dcff;
                        display: block;
                        width: 25px;
                        padding-left:85px;
                        font-size:12px;
                    }
                }
            } 
            .nav_1{
                position: absolute;
                right: 110px;
                top: 0px;
                width: 114px;
                height:36px;
                background: url(/images/list_fl.jpg) no-repeat;
                cursor: pointer;
                font-size:12px;
                p{
                    height: 36px;
                    line-height: 36px;
                    font-size: 14px;
                    padding-left:20px;
                    a{
                        color:#fff;
                    }
                }
                .list{
                    display:none;
                    background: #fff;
                    border: 2px solid #A5A3A3;
                    border-top: none;
                    opacity: 0.9;
                    width: 115px;
                    height:112px;
                    ul{
                        width: 110px;
                        height: 110px;
                        li{
                            a{
                                line-height: 22px;
                                color: #5E666C;
                                height: 22px;
                                padding-left:10px;
                            }
                            a:hover{
                                text-decoration:underline;
                            }
                        }
                    }
                }
            } 
            .nav_1:hover{
                .list{
                    display:block;
                }
            }  
        }
        .top_3{
            width:1200px;
            height:448px;
            margin:0 auto;
            .left{
                width: 976px;
                height: 300px;
                padding-left:204px;background: orange;
                float: left;
                .top{
                    width:772px;
                    height:300px;
                    position:relative;
                }
            }
            .right{
                width:224px;
                height:443px;
                float:left;
                display:block;
                p{
                    width:224px;
                    height:94px;
                }
                .Qgou{
                    width:224px;
                    height:207px;
                    position:relative;
                    .time{
                        position: absolute;
                        left: 15px;
                        top: 15px;
                        color: #fe786d;
                        font-size: 12px;
                        font-weight: bold;
                        width: 140px;
                        span{
                            background: #fe786d;
                            color: #fff;
                            font-size: 20px;
                            padding: 1px 2px;
                            margin: 0 2px;
                        }
                    }
                }
                .news{
                    background: #fafafa;
                    width: 222px;
                    border: 1px solid #d7d7d7;
                    height: 131px;
                    border-top: none;
                    padding-top:10px;
                    h3{
                        width: 169px;
                        height:24px;
                        border-left: 1px solid #d3d3d3;
                        border-top: 1px solid #d3d3d3;
                        margin: 0 auto;
                        overflow: hidden;
                        background: url(/images/BMCindex_41.jpg) repeat-x;
                        span{
                            float: left;
                            font-weight: normal;
                            font-size: 12px;
                            height: 23px;
                            width: 83px;
                            border-right: 1px solid #d3d3d3;
                            text-align: center;
                            line-height: 23px;
                            cursor: pointer;
                        }
                    }
                    div{
                        width:222px;
                        height:100px;
                        padding:10px 20px;
                    }
                    .box_1{
                        ul{
                            width:182px;
                            height:80px;
                            position:relative;
                            li{
                                font-size:12px;
                                a{
                                    overflow:hidden;
                                    width:182px;
                                    height:20px;
                                    display:inline-block;
                                }
                            }
                            p{
                                position: absolute;
                                bottom: 0px;
                                right: 0px;
                                background: #fafafa;
                                width: 50px;
                                height: 20px;
                                z-index: 9999;
                                a{
                                    color: #990000;
                                    display: block;
                                    height: 20px;
                                    width: 40px;
                                    float: right;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




.links {
    width:1200px;
    height:162px;
    margin:0 auto;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
    a{
        color:#8a8a8a;
    }
    a:hover{
        text-decoration:none;
    }
    ul{
        float: left;
        border-right: 1px solid #e1e1e1;
        width: 201px;
        padding: 10px 50px;
        height:146px;
        font-size: 12px;
        h2{
            color: #8a8a8a;
            line-height: 30px;
            font-size: 12px;
        }
        li{
            width:100px;
            height:24px;
        }
    }
    ul:nth-child(4){
        border:none;
    }
    .box{
        width:307px;
        height:151px;
        float:right;
    }
}
.footer{
    width:980px;
    height:155px;
    margin:0 auto;
    padding-top: 10px; 
    .link{
        width:980px;
        height:145px;
        text-align: center;
        ul{
            width:980px;
            height:20px;
            font-size:12px;
            text-align: center;
            li{
                display:inline-block;
                vertical-align: middle;
                margin-right: 6px;
                a{
                    color:#757575;
                }
            }
        }
        .box{
            width:480px;
            height:50px;
            margin:0 auto;
            padding-top:5px;
            p{
                width:480px;
                height:45px;
                font-size:12px;
                text-align:center;
                line-height:22px;
                color:#656565;
                span{
                    display:inline-block;
                }
                a{
                    color:#656565;
                }
                a:hover{
                    text-decoration:underline;
                }
            }
        }
        dl{
            display:inline-block;
            margin:20px 5px 0 5px;
            dt{
                float:left;
            }
            dd{
                font-size:12px;
                margin:10px 0 0 5px;
                float:left;
                display:block;
                a{
                    color:#000;
                }
                a:hover{
                    text-decoration:underline;
                }
                .last{
                    width:83px;
                    height:30px;
                }
            }
        }
        .last{
            a{
                img{
                    width:83px;
                    height:30px;
                }
            }
        }
    }
}
.online{
    position: fixed;
    bottom:130px;
    right:0px;
}
.return{
    position:fixed;
    z-index:75;
    right:0px;
    bottom:20px;
}